/* Google Font - Inter Tight Font */
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

  /* Body's Max Width Initialize */
  body {
    max-width: 1440px;
  }

  .navbar {
    width: 100%;
    z-index: 1000000;
  }
  .Header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background-color: #77429a;
    margin: 12px 10px 0px 10px;
    padding: 10px 0px;
  }
  .header-txt {
    font-size: 14px;
    color: #ffffff;
  }
  .header-discord {
    width: 14px;
    margin-bottom: -4px;
    height: 16px;
  }
  .header-discord img {
    margin: 0px 4px -2px 4px;
  }
  /* Header End */
  /* Navbar Items Starts Here */
  .nav-logo img {
    width: 150px;
  }

  .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 120px;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: -56px;
  }

  .nav-links > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #6f7288;
  }

  .nav-links > a:hover {
    color: #000000;
    font-weight: 500;
    transition: color 3ms linear, font-weight 3ms linear;
  }

  .nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .Book-a-demo-btn {
    padding: 15px 26px;
    background-color: #77429a;
    border-radius: 200px;
    color: #ffffff;
  }

  .Book-a-demo-btn p {
    font-size: 16px;
    font-weight: 500;
  }

  .Book-a-demo-btn:hover {
    background-color: #451e5f;
    transition: background-color 200ms linear;
    cursor: pointer;
  }

  .Login-btn {
    padding: 12px 26px;
    border: #77429a solid 2px;
    border-radius: 200px;
    color: #77429a;
  }

  .Login-btn p {
    font-size: 16px;
    font-weight: 500;
  }
  /* Navbar Ends Here */
  /* Hero Section Starts Here */
  /* Grid Pattern */
  .grid-bg {
    position: relative;
    width: 100%;
    margin-top: -120px;
    background: linear-gradient(to bottom, #77429a1a 0%, #ffffff 100%);
    .grid-bg img {
      width: 100%;
      display: block;
      margin-top: 0;
      position: relative;
      z-index: 1;
    }
    margin: 0;
    position: relative;
    z-index: 1;
  }

  .grid-bg img {
    width: 100%;
    margin-top: -120px;
    z-index: -1;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -550px;
  }

  .new-update {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    background-color: #ebd1fd;
    border-radius: 200px;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    margin-bottom: 16px;
  }

  .new-update img {
    display: inline;
    width: 21px;
    height: auto;
  }

  .new-update > div:first-child {
    width: fit-content;
    height: fit-content;
    margin-bottom: -9px;
  }

  .new-update p {
    display: flex;
    font-size: 14px;
    color: #161c52;
  }

  .hero-heading {
    max-width: 960px;
    color: #161c52;
  }

  .hero-heading h1 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1%;
    line-height: 120%;
    margin-bottom: 14px;
  }

  .instrument-italic-font {
    font-family: "Instrument Serif", serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    color: #77429a;
  }

  .hero-supporting-txt {
    max-width: 540px;
    color: #484a61;
    margin-bottom: 34px;
  }

  .hero-supporting-txt p {
    text-align: center;
    line-height: 24px;
    font-weight: 400;
  }

  .fifteen-day-btn {
    align-items: center;
    padding: 18px 32px;
    background-color: #77429a;
    color: #ffffff;
    border-radius: 200px;
    max-width: fit-content;
    margin-bottom: 100px;
  }

  .twelve-hundred-clients {
    width: 250px;
    height: 90px;
    margin-bottom: -52px;
    margin-left: -10px;
    background-color: none;
  }

  .btn-and-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

.hero-img img {
  z-index: 10;
}

/* hero sectio end */
/* companies section start */
/* Stack Section Starts Here */
.stack-section {
  background-image: url(../assets/stack-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 690px;
  margin-top: -400px;
  justify-content: center;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.companies-text {
  font-size: 18px;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  color: #ffffff;
  margin-left: auto;
  margin-bottom: 80px;
  margin-right: auto;
}

.stacks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.txt-and-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -500px;
}
.txt-and-logo p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 16px;
  font-weight: 500;
}

.grid-bg {
  position: relative;
  width: 100%;
  margin-top: -120px;
  background: linear-gradient(to bottom, #77429a1a 0%, #ffffff 100%);
  .grid-bg img {
    width: 100%;
    display: block;
    margin-top: 0;
    position: relative;
    z-index: 1;
  }
  margin: 0;
  position: relative;
  z-index: 1;
}

.grid-bg img {
  width: 100%;
  margin-top: -120px;
  z-index: -1;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -440px;
}

.new-update {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  background-color: #ebd1fd;
  border-radius: 200px;
  width: fit-content;
  height: fit-content;
  gap: 8px;
  margin-bottom: 16px;
}

.new-update img {
  display: inline;
  width: 21px;
  height: auto;
}

.new-update > div:first-child {
  width: fit-content;
  height: fit-content;
  margin-bottom: -9px;
}

.new-update p {
  display: flex;
  font-size: 14px;
  color: #161c52;
}

.hero-heading {
  max-width: 960px;
  color: #161c52;
}

.hero-heading h1 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1%;
  line-height: 120%;
  margin-bottom: 14px;
}

.instrument-italic-font {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.hero-supporting-txt {
  max-width: 540px;
  color: #484a61;
  margin-bottom: 34px;
}

.hero-supporting-txt p {
  text-align: center;
  line-height: 24px;
  font-weight: 400;
}

.fifteen-day-btn {
  align-items: center;
  padding: 18px 32px;
  background-color: #77429a;
  color: #ffffff;
  border-radius: 200px;
  max-width: fit-content;
  margin-bottom: 100px;
}

.twelve-hundred-clients {
  width: 250px;
  height: 90px;
  margin-bottom: -52px;
  margin-left: -10px;
  background-color: none;
}

.btn-and-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/* <!-- Smart Advantages Sectiom --> */
.smart-adv {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}

.heading-smart h2 {
  font-size: 40px;
  font-weight: 500;
  color: #1b1e3b;
}

.italic-font {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0%;
  color: #77429a;
}

.heading-smart p {
  width: 55%;
  margin: 15px auto 60px;
  font-size: 16px;
  line-height: 28px;
  color: #646579;
}

.smart-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.smart-card {
  width: 350px;
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-bg {
  background: #eae3ff;
}

.small-cards {
  background: #e4f4ff;
}

.smart-card img {
  width: 100%;
  object-fit: cover;
}

.smart-card h3 {
  font-size: 20px;
  color: #1b1e3b;
  margin-bottom: 10px;
  font-weight: 600;
}

.smart-card p {
  font-size: 14px;
  color: #646579;
  line-height: 24px;
}

/* card section end */

/* dashboard section */

body {
  font-family: "Poppins", sans-serif;
}

.advantages {
  text-align: center;
  padding: 60px 20px;
  max-width: 1100px;
  margin: auto;
}

.main-title {
  font-size: 38px;
  font-weight: 600;
  color: #0b1b4a;
  margin-bottom: 10px;
}

.purple-text {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.sub-text {
  max-width: 700px;
  margin: auto;
  font-size: 15px;
  color: #4b4b4b;
  line-height: 1.6;
  margin-bottom: 50px;
}

.advantages-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.adv-item {
  width: 250px;
  text-align: center;
}

.adv-item img {
  width: 60px;
  margin-bottom: 15px;
}

.adv-item h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0b1b4a;
  margin-bottom: 8px;
}

.adv-item p {
  font-size: 14px;
  color: #555;
}

.dashboard-preview img {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  border-radius: 10px;
}
.card-vertical {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.fourth-Card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
  margin-bottom: 120px;
}

.fourth-Card img {
  height: 600px;
}

.image-four img {
  width: 500px;
  height: auto;
}

.heading-and-para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 12px;
}

.heading-and-para h1 {
  font-size: 44px;
  font-weight: 500;
  width: 400px;
  color: #161c52;
}
.section-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.heading-and-para p {
  font-size: 16px;
  width: 500px;
  line-height: 25px;
  color: #484a61;
  font-weight: 400;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 24px;
}

.point-one,
.point-two,
.point-three {
  width: fit-content;
  display: flex;
  gap: 16px;
}

.point-one img,
.point-two img,
.point-three img {
  width: 46px;
  height: 46px;
}

.point-one h1,
.point-two h1,
.point-three h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.point-one p,
.point-two p,
.point-three p {
  font-size: 16px;
  color: #484a61;
}
.right-side {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: -24px;
}

/* dashboard section / vertical card section end */
/* functionality section start */
/* Features Section */
.features-section {
  width: 100%;
  padding: 80px 0;
  background: #744a9f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-heading h1 {
  font-size: 40px;
  font-weight: 500;
  max-width: 740px;
  color: #ffffff;
  text-align: center;
}

.features-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #e5dbf7;
}

.features-grid {
  margin-top: 80px;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.features-card {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 35px 30px;
  text-align: left;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.features-card.active-feature {
  background: #e4d8f5;
  color: #5b4289;
}

.features-icon {
  width: 42px;
  height: 42px;
  margin-bottom: 15px;
}

.features-card h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
}

.features-card p {
  font-size: 14px;
  line-height: 1.4rem;
  opacity: 0.9;
}

.features-card:hover {
  transform: translateY(-6px);
  background: #e4d8f5;
  color: #5b4289;
}

/* Plans Section */
.plans-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 128px;
}

.plans-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.plans-heading h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  max-width: 450px;
}

.plans-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.plans-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #484a61;
  max-width: 520px;
  line-height: 25px;
}

.plans-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: calc(0.91);
}

/* Personal Plan */
.plan-personal {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 30px;
  border-radius: 20px 0px 0px 20px;
  border-width: 1px 0px 1px 1px;
  border-color: rgba(72, 74, 97, 0.22);
  border-style: solid;
  max-height: fit-content;
  max-width: fit-content;
  scale: calc(0.97);
}

.plan-personal-txt {
  display: flex;
  flex-direction: column;
}

.plan-personal-txt h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 12px;
  color: #161c52;
}
.plan-personal-txt h1 {
  font-size: 44px;
  font-weight: 500;
  color: #161c52;
  margin-bottom: 10px;
}

.plan-small-txt {
  font-size: 16px;
  font-weight: 400;
  color: #484a61;
}

.plan-personal-txt p {
  font-size: 16px;
  font-weight: normal;
  max-width: 352px;
  color: #484a61;
}

.plan-includes {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.plan-includes h3 {
  font-size: 18px;
  font-weight: 500;
}

.checked, .unchecked {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}

.checked {
  color: #484a61;
}

.unchecked {
  color: #b5b9e0;
}

.plan-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 15px 140px;
  border-radius: 200px;
  color: #ffffff;
  background-color: #77429a;
}

.plan-btn:hover {
  background-color: #451e5f;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.plan-btn p {
  font-size: 16px;
  font-weight: 500;
}

/* Pro Plan */
.plan-pro {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 30px;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgba(72, 74, 97, 0.22);
  border-style: solid;
  max-height: fit-content;
  margin-left: -10px;
}

.bg-pro {
  position: relative;
  max-width: 100%;
  background-color: #e5d6ff;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 30px;
}

.plan-pro-txt {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.plan-pro-txt h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 12px;
  color: #161c52;
}
.plan-pro-txt h1 {
  font-size: 44px;
  font-weight: 500;
  color: #161c52;
  margin-bottom: 10px;
}

.plan-pro-small-txt {
  font-size: 16px;
  font-weight: 400;
  color: #484a61;
}

.plan-pro-txt p {
  font-size: 16px;
  font-weight: normal;
  max-width: 352px;
  color: #484a61;
}

.plan-pro-includes {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 30px;
  margin-right: 30px;
}

.popular-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 7px 15px;
  border-radius: 200px;
  background-color: #77429a;
  text-align: center;
  max-width: fit-content;
  margin-left: 280px;
}

.popular-btn p {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

/* Business Plan */
.plan-business {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 30px;
  border-radius: 0px 20px 20px 0px;
  border-width: 1px 1px 1px 0px;
  border-color: rgba(72, 74, 97, 0.22);
  border-style: solid;
  max-height: fit-content;
  max-width: fit-content;
  scale: calc(0.97);
  margin-left: -10px;
}

.plan-business-txt {
  display: flex;
  flex-direction: column;
}

.plan-business-txt h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 12px;
  color: #161c52;
}

.plan-business-txt h1 {
  font-size: 44px;
  font-weight: 500;
  color: #161c52;
  margin-bottom: 10px;
}

.plan-business-small-txt {
  font-size: 16px;
  font-weight: 400;
  color: #484a61;
}

.plan-business-txt p {
  font-size: 16px;
  font-weight: normal;
  max-width: 352px;
  color: #484a61;
}

/* Hover card animation */
.plan-personal:hover,
.plan-pro:hover,
.plan-business:hover {
  transform: translateY(-8px);
  transition: all 0.35s ease;
  box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

/* Active plan selected by click */
.active-feature {
  border-color: #77429a !important;
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0px 25px 45px rgba(119, 66, 154, 0.25);
}

/* Button click animation */
.btn-active {
  transform: scale(1.94);
  transition: transform 0.15s ease;
}

/* pricing section end */
/* /* about us section */
/* TESTIMONIALS */
.ar-testimonials {
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  background: linear-gradient(to bottom, #77429a3d 0%, #ffffff 100%);
}

.ar-testimonials img {
  width: 100%;
  height: auto;
}

.ar-testimonials-inner {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.ar-testimonial-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.ar-testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: -560px;
  margin-left: -800px;
  margin-right: 56px;
}

.ar-testimonials-content h1 {
  font-size: 40px;
  font-weight: 500;
  color: #161c52;
  line-height: 50px;
  width: 400px;
  margin-bottom: 10px;
}

.ar-testimonials-content p {
  font-size: 16px;
  text-align: left;
  width: 370px;
  line-height: 25px;
  color: #484a61;
  margin-left: -34px;
  margin-bottom: 24px;
}

.ar-ratings {
  margin-left: -140px;
}

.ar-cards-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 850px;
  overflow: hidden;
}

.ar-testimonial-cards {
  display: flex;
  gap: 28px;
  margin-top: -780px;
  margin-right: -900px;
  scale: calc(0.8);
}

.ar-cards-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  scale: calc(0.88);
  max-height: 900px;
  overflow: hidden;
}

.ar-card-stack {
  display: block;
}

/* FAQ SECTION */
.ar-faq-italic {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
  color: #77429a;
}

.ar-faq-heading p {
  font-size: 15px;
  font-weight: 400;
  color: #484a61;
  max-width: 560px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 50px;
}

.ar-faq-heading h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  max-width: 500px;
  text-align: center;
}

.ar-faq-heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.ar-faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 120px;
}

.ar-faq-open {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 10px 10px 8px 10px;
  background-color: #77429a;
  border-radius: 200px;
  width: 680px;
}

.ar-open-title {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 26px;
}

.ar-open-arrow img {
  width: 50px;
  height: auto;
}

.ar-faq-open-row {
  display: flex;
  align-items: center;
}

.ar-faq-open-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
}

.ar-faq-open-text {
  width: 620px;
  margin-left: 30px;
}

.ar-faq-open-text p {
  font-weight: 400;
  color: #484a61;
  line-height: 25px;
  margin-bottom: 24px;
}

.ar-faq-closed {
  display: flex;
  align-items: center;
  gap: 26px;
  width: 680px;
  padding: 10px;
  border-radius: 200px;
  border: 1px solid rgba(72, 74, 97, 0.22);
}

.ar-faq-closed p {
  font-size: 18px;
  font-weight: 500;
  color: #161c52;
  margin-top: 1.2px;
}

/* LEARN MORE BOX */
.ar-growth-box {
  z-index: 10;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 20px;

  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.05)
    ),
    url("assets/learn more bg img.png");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.ar-growth-box h2 {
  font-size: 38px;
  font-weight: 600;
  color: white;
  margin-bottom: 25px;
}

.ar-italic-heading {
  font-family: "Instrument Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}

.ar-growth-features {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-bottom: 35px;
}

.ar-feature {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ar-feature img {
  width: 14px;
  height: auto;
}

.ar-feature p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.ar-growth-btn {
  background-color: #77429a;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.ar-growth-btn:hover {
  background-color: #693a89;
}

/* footer start  */

.main-footer {
  background: #7f3fa1;
  padding-top: 130px;
  color: white;
  position: relative;
  z-index: 1;
  font-family: "Space Grotesk", sans-serif;
  margin-top: -100px;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 20px;
  position: relative;
}

.footer-col h3::after {
  content: "";
  width: 40px;
  height: 2px;
  background: white;
  display: block;
  margin-top: 6px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 8px 0;
  opacity: 0.9;
  cursor: pointer;
}

.footer-col ul li:hover {
  opacity: 1;
}
.contact-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-list img {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

.growth-box {
  margin-top: 80px;
  margin-bottom: -120px;
  position: relative;
  z-index: 10;
}

.main-footer {
  background: #7f3fa1;
  padding-top: 180px;
  color: white;
  position: relative;
  z-index: 1;
  font-family: "Space Grotesk", sans-serif;
  margin-top: 0;
}
/* social media icons */

.r2r-footer {
  background-color: #e6d8ff;
  padding: 10px 0;
}

.footer-inner {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  height: 35px;
}

.footer-text {
  color: #6a3cb0;
  font-size: 14px;
  font-family: sans-serif;
  white-space: nowrap;
}

.footer-social a {
  margin-left: 10px;
}

.footer-social img {
  height: 28px;
}

/* Footer end */